<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    {% if user and password_reset_url and password_resend_url %}
        <p>Hi {{ user.username }},</p>
        <p>You requested a password reset. Click the link below to reset your password:</p>
        <p><a href="{{ password_reset_url }}">Reset your password</a></p>

        <p>If the link has expired, click below to request a new password reset link:</p>
        <p><a href="{{ password_resend_url }}">Request New Reset Link</a></p>

    {% endif %}
    </body>
</html>

