<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!-- email/password_reset_email.html -->
<p>Hi {{ CustomUser.username }},</p>
<p>You requested a password reset. Click the link below to reset your password:</p>
<p><a href="{{ reset_link }}">Reset your password</a></p>

<p>If the link has expired, click below to request a new password reset link:</p>
<p><a href="{{ resend_link }}">Request New Reset Link</a></p>

</body>
</html>

